
<h1>Kurser</h1>

<table>
    <caption>Webbutveckling - Ramschema</caption>
    <thead>
        <tr>
            <th><span (click)="sortTable('code');">Kurskod</span></th>
            <th><span (click)="sortTable('name');">Kursnamn</span></th>   
            <th><span (click)="sortTable('prog');">Progression</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td data-cell="Kurskod">{{ course.code }}</td>
            <td data-cell="Kursnamn">{{ course.coursename }}</td>
            <td data-cell="Progression">{{ course.progression }}</td>
        </tr>
    </tbody>
</table>

